[submodule "Orion/ThirdParty/spdlog"]
	path = Orion/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Orion/ThirdParty/GLFW"]
	path = Orion/ThirdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Orion/ThirdParty/imgui"]
	path = Orion/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Orion/ThirdParty/glm"]
	path = Orion/ThirdParty/glm
	url = https://github.com/g-truc/glm
